<% layout('layouts/boilerplate') -%>

<div class="container-fluid landingPage">
    <div class="container">
        <form class="text-center border border-light p-3 logForm" action="/posts/<%= post.id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
            <p class="h4 mb-2">Edit Post</p>
            <div class="row form d-flex justify-content-around">
                <div class="col-lg-6">
                    <!-- Title -->
                    <input class="form-control mb-2" name="post[title]" placeholder="Title" value="<%= post.title %>">
                
                    <!-- Price -->
                    <input class="form-control mb-2" type="number" name="post[price]" step=".01" placeholder="Price" value="<%= post.price %>">
                
                    <!-- Location -->
                    <input class="form-control mb-2" type="text" name="post[location]" placeholder="Location" value="<%= post.location %>">
    
                    <!-- Description -->
                    <textarea class="form-control mb-2" name="post[description]" placeholder="Description"><%= post.description %></textarea>                    
                </div>
                <div class="col-lg-6">
                <!-- Images -->
                <div class="d-flex justify-content-around">
                    <label for="images">Images:</label>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <ul>
                                <% post.images.forEach(function(image, i) { %>
                                    <li class="imgList">
                                        <img src="<%= image.url %>" width="25px">
                                        <label for="image<%= i %>">Delete?</label>
                                        <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= image.public_id %>">
                                    </li>
                                <% }); %> 
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <!-- Images -->
                            <div class="d-flex">
                                <label for="images">New Images:</label>
                            </div>
                            <div class="d-flex">    
                                <input type="file" accept="images/*" name="images" multiple>
                            </div>                           
                        </div>
                    </div>    
                </div>
            </div>
        </div>    

                <!-- Submit -->
                <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
            
            </form>
    </div>
</div>

<script src="/javascripts/post-edit.js"></script>