<% layout('layouts/boilerplate') -%>
<h1>Posts Index</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <% include ../partials/searchFilter %>
        </div>
        <div class="col-8">
            <div id="map"></div>
        </div>
    </div>
</div>

<% include ../partials/paginatePosts %>

<% posts.docs.forEach(function(post) { %>
    <div>
        <h2>Title: <%= post.title %></h2>
        <p>Price: <%= post.price %></p>
        <p>Description: <%= post.description %></p>
        <p>Location: <%= post.location %></p>
        <div><a href="/posts/<%= post.id %>">View More</a></div>
    </div>
<% }); %>

<% include ../partials/paginatePosts %>

<script>
    mapboxgl.accessToken = "<%= mapboxToken %>";
    var posts = { features: <%- JSON.stringify(posts.docs) %> };
</script>
<script src='/javascripts/allPostsClusterMap.js'></script>